.main-container {
  background-color: #f8f9fa;
  padding: 0;
}

.product-card {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
}

.product-info {
  text-align: center;
}

.category-section {
  margin-bottom: 40px;
}

.category-banner img {
  width: 280px;
  height: 430px;
  object-fit: cover;
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.title-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.title-image {
  width: 1920px;
  height: 420px;
  object-fit: cover;
}

.discount-products .product-card {
  flex: 1 0 18%;
  margin: 0 1%;
}